<app-header (search)="onSearch($event)"></app-header>

@if (!errorMessage()){
<div class="cards-container" *ngIf="!isLoading()">
  <app-card-component
    *ngFor="let repo of repositories(); trackBy: trackById"
    [repo]="repo"
  ></app-card-component>
</div>

<div class="loading-container" *ngIf="isLoading()">
  <div class="spinner"></div>
  <p>Buscando repositórios...</p>
</div>

<div class="pagination" *ngIf="repositories().length && !isLoading()">
  <button name="first-button" (click)="firstPage()" [disabled]="currentPage() === 1">⏮ Primeira</button>
  <button
    (click)="prevPage()"
    [disabled]="currentPage() === 1"
    name="prev-button"
  >
    ◀ 
  </button>

  <span name="page_number">{{currentPage()}}</span>

  <button name="next-button" (click)="nextPage()" [disabled]="currentPage() === lastPageNumber()"> ▶</button>
  <button name="last-button" (click)="lastPage()" [disabled]="currentPage() === lastPageNumber()">⏭ Ultima</button>
</div>

}

@else{
  <span class="error-container">
    <h1>500</h1>
    <h2>Erro interno no servidor</h2>
    <p>Este é um problema com o recurso buscado.</p>
  </span>
}

